<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.TrainningJV.mappers.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.java.TrainningJV.models.Category">
   
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, name
  </sql>

  <!-- select by id -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    
    select 
    <include refid="Base_Column_List" />
    from categories
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!-- delete by id -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    
    delete from categories
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!-- <delete id="deleteByExample" parameterType="com.java.TrainningJV.models.CategoryExample">
    
    delete from categories
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete> -->
  
  <!-- insert by id -->
  <insert id="insert" parameterType="com.java.TrainningJV.models.Category">
    
    insert into categories (id, name)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.java.TrainningJV.models.Category">
    
    insert into categories
    <trim prefix="(" suffix=")" suffixOverrides=",">s
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  

  <!-- update by id -->
  <update id="updateByPrimaryKey" parameterType="com.java.TrainningJV.models.Category">
   
    update categories
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>