<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.TrainningJV.mappers.UserMapper">

  <resultMap id="BaseResultMap" type="com.java.TrainningJV.models.User">
    <id column="id" property="id" />
    <result column="first_name" property="firstName" />
    <result column="last_name" property="lastName" />
    <result column="email" property="email" />
    <result column="date_of_birth" property="dateOfBirth" />
    <result column="gender" property="gender" />
    <result column="address" property="address" />
    <result column="created_at" property="createdAt" />
    <result column="updated_at" property="updatedAt" />
    <result column="phone" property="phone" />
    <result column="role_id" property="roleId" />
    <result column="password" property="password" />

    <!-- ánh xạ 1-1 với bảng roles -->
    <association property="role" javaType="com.java.TrainningJV.models.Role">
        <id column="role_id" property="id" />
        <result column="role_name" property="name" />
    </association>
</resultMap>


  <!-- select user detail by id -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
        u.id, u.first_name, u.last_name, u.email, u.date_of_birth, u.gender,
        u.address, u.created_at, u.updated_at, u.phone, u.role_id, u.password,
        r.name AS role_name
    FROM users u
    LEFT JOIN roles r ON u.role_id = r.id
    WHERE u.id = #{id,jdbcType=INTEGER}
</select>


  <!-- delete user by id -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from users
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <!-- create a new user -->
  <insert id="insert" parameterType="com.java.TrainningJV.models.User" useGeneratedKeys="true" keyProperty="id">
    insert into users (first_name, last_name, 
      email, date_of_birth, gender, 
      address, 
      phone, role_id, password
      )
    values (#{firstName,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{dateOfBirth,jdbcType=DATE}, #{gender,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}
      )
  </insert>



  <!-- update by id -->
  <update id="updateByPrimaryKey" parameterType="com.java.TrainningJV.models.User">
   
    update users
    set first_name = #{firstName,jdbcType=VARCHAR},
      last_name = #{lastName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      date_of_birth = #{dateOfBirth,jdbcType=DATE},
      gender = #{gender,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      phone = #{phone,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>